.section__hobbies{
    display: flex;
    width: 70vw;
    margin: 32px 0px 32px 0px;
    flex-direction: column;
}
.hobbies__titulo{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.hobbies_cards{
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    .section__hobbies{
        width: 90vw;
    }
    .hobbies__titulo{
        font-size: 22px;
    }
    .hobbies_cards{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 375px){
    .hobbies_cards{
        justify-content: space-between;
    }
}

@media only screen and (min-width: 500px) and (max-width:700px){
    .hobbies_cards{
        justify-content: space-between;
    }
}