.menu{ 
    font-size: 16px;
    align-items: center;   
    display: flex;   
    justify-content: space-between;
    padding: 35px;
    width: 70vw;

}
.menu__nome {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: bold;
}

ul, li{
    float: left;
    font-size: 16px;
    font-weight: 400;
}
li {
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.menu__navegacao{    
    display: flex;
    
}
img{
    margin-right: 5px;
    width: 24px;
    height: 24px;
}
.menu__itens ul li:last-child{
    font-weight: 700;
    margin: 0px;
}





@media only screen and (max-width: 768px) {
   .menu{
       justify-content: space-between;
       width: 90vw;
       font-size: 14px;
    
   }
    ul, li{
        display:none;
        font-weight: 700;
    }

    ul, li:last-child{
        display: block;
        font-size: 14px;
    }
    img{
        width: 15px;
        height: 15px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1100px) {
    .menu{
        justify-content: space-between;
        width: 70vw;
    }
     ul, li{
         display:none;
         font-weight: 700;
     }
 
     ul, li:last-child{
         display: block;
         font-size: 14px;
     }
 }
